// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2022.1.0.52.3
// Netlist written on Wed Feb 15 21:20:36 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "e:/embeded/fpga learning/fpga-basics/projects/eetree_fpga/ice40/new/counter/source/count_attr.v"
// file 3 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2022.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2022.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 23 "c:/lscc/radiant/2022.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 24 "c:/lscc/radiant/2022.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 25 "c:/lscc/radiant/2022.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 26 "c:/lscc/radiant/2022.1/ip/avant/rom/rtl/lscc_rom.v"
// file 27 "c:/lscc/radiant/2022.1/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2022.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2022.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2022.1/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2022.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2022.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2022.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2022.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2022.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2022.1/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2022.1/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2022.1/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2022.1/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2022.1/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2022.1/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2022.1/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2022.1/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2022.1/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2022.1/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2022.1/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2022.1/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2022.1/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2022.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module count
//

module count (output [2:0]c, input clk, input rst);
    
    (* is_clock=1, lineinfo="@2(4[7],4[10])" *) wire clk_c;
    
    wire GND_net, VCC_net, rst_c, c_c_2, c_c_1, c_c_0, n18, n19, 
        n20;
    
    (* lineinfo="@2(13[16],13[21])" *) FD1P3XZ c_9__i2 (.D(n19), .SP(VCC_net), 
            .CK(clk_c), .SR(rst_c), .Q(c_c_1));
    defparam c_9__i2.REGSET = "RESET";
    defparam c_9__i2.SRMODE = "ASYNC";
    (* lineinfo="@2(5[13],5[14])" *) OB \c_pad[2]  (.I(c_c_2), .O(c[2]));
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@2(13[16],13[21])" *) LUT4 i27_3_lut (.A(c_c_2), 
            .B(c_c_1), .C(c_c_0), .Z(n18));
    defparam i27_3_lut.INIT = "0x6a6a";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(13[16],13[21])" *) LUT4 i20_2_lut (.A(c_c_1), 
            .B(c_c_0), .Z(n19));
    defparam i20_2_lut.INIT = "0x6666";
    (* lineinfo="@2(5[13],5[14])" *) OB \c_pad[1]  (.I(c_c_1), .O(c[1]));
    VLO i36 (.Z(GND_net));
    (* lut_function="(!(A))", lineinfo="@2(13[16],13[21])" *) LUT4 i18_1_lut (.A(c_c_0), 
            .Z(n20));
    defparam i18_1_lut.INIT = "0x5555";
    (* lineinfo="@2(13[16],13[21])" *) FD1P3XZ c_9__i1 (.D(n20), .SP(VCC_net), 
            .CK(clk_c), .SR(rst_c), .Q(c_c_0));
    defparam c_9__i1.REGSET = "RESET";
    defparam c_9__i1.SRMODE = "ASYNC";
    (* lineinfo="@2(13[16],13[21])" *) FD1P3XZ c_9__i3 (.D(n18), .SP(VCC_net), 
            .CK(clk_c), .SR(rst_c), .Q(c_c_2));
    defparam c_9__i3.REGSET = "RESET";
    defparam c_9__i3.SRMODE = "ASYNC";
    (* lineinfo="@2(5[13],5[14])" *) OB \c_pad[0]  (.I(c_c_0), .O(c[0]));
    (* lineinfo="@2(4[7],4[10])" *) IB clk_pad (.I(clk), .O(clk_c));
    (* lineinfo="@2(4[11],4[14])" *) IB rst_pad (.I(rst), .O(rst_c));
    VHI i37 (.Z(VCC_net));
    
endmodule
